.listings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.listing {
  flex-basis: calc(30%); /* takes up 1/3 of the available space and accounts for the margin */
  height: auto;
  margin: 10px;
}

.listing:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.listing h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Libre Franklin', sans-serif;
  margin-left: auto;
}

.listing-info {
 margin-left: 30px;
 text-align: left;
}

.listing img {
  height: 350px;
  margin-top: 5px;
  width: 95%;
  object-position: center;
  border-radius: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  border: 1px solid rgb(80, 166, 247);
  border-radius: 10px;
}

.listing-show-image {
  width: 50%;
  height: 350px;
  margin-top: 5px;
  object-position: center;
}

.favorite-button {
  cursor: pointer;
  font-size: 24px;
}
